<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{blocks/common :: common}">
    <title>Cafe Bar</title>
</head>

<body>
    <div th:insert="~{blocks/navbar :: navbar}"></div>
    <div class="container">
        <div th:insert="~{blocks/jsconnect :: jsconnect}"></div>
        <h1>Login</h1>
        <span th:if="${param.error != null}" class="validationError">
            Unable to login. Check your username and password.
        </span>
        <p>
            New here? Click <a th:href="@{/register}">here</a> to register.
        </p>
        <form method="POST" th:action="@{/login}" id="loginForm">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" /><br />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" /><br />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="submit" value="Login" /><br />
            <h3>Login with:</h3>
            <p th:each="url : ${oauth2_urls}">
                <a th:text="${url.key}" th:href="${url.value}">Client</a>
            </p>
        </form>
    </div>
</body>

</html>
