<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{blocks/common :: common}">
    <title>Cafe Bar</title>
</head>

<body>
    <div th:insert="~{blocks/navbar :: navbar}"></div>
    <div class="container">
        <div th:insert="~{blocks/jsconnect :: jsconnect}"></div>
        <form method="POST" th:action="@{/orders}" th:object="${coffeeOrder}">
            <h1>Order your coffee!</h1>
            <h3>Your coffee in this order:</h3>
            <a th:href="@{/design}" id="another">Design another coffee</a><br />
            <ul>
                <li th:each="coffee : ${coffeeOrder.coffees}">
                    <span th:text="${coffee.name}">coffee name</span>
                </li>
            </ul>
            <h3>Deliver my coffee to...</h3>
            <span class="validationError"
                th:if="${#fields.hasErrors('*')}">Please, resolve the problems and try
                again<br>
            </span>
            <label for="deliveryName">Name: </label>
            <input type="text" th:field="*{deliveryName}" />
            <span class="validationError" th:if="${#fields.hasErrors('deliveryName')}"
                th:errors="*{deliveryName}">deliveryName Error</span>
            <br />
            <label for="automatonCode">Automaton code: </label>
            <input type="text" th:field="*{automatonCode}" />
            <span class="validationError"
                th:if="${#fields.hasErrors('automatonCode')}"
                th:errors="*{automatonCode}">automatonCode
                Error</span>
            <br />
            <h3>Here's how I'll pay...</h3>
            <label for="cardDetails.ccNumber">Credit Card #: </label>
            <input type="text" th:field="*{cardDetails.ccNumber}" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <span class="validationError"
                th:if="${#fields.hasErrors('cardDetails.ccNumber')}"
                th:errors="*{cardDetails.ccNumber}">CC Num
                Error</span>
            <br />
            <label for="cardDetails.ccExpiration">Expiration: </label>
            <input type="text" th:field="*{cardDetails.ccExpiration}" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <span class="validationError"
                th:if="${#fields.hasErrors('cardDetails.ccExpiration')}"
                th:errors="*{cardDetails.ccExpiration}">CC
                Expiration Error</span>
            <br />
            <label for="cardDetails.ccCVV">CVV: </label>
            <input type="text" th:field="*{cardDetails.ccCVV}" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <span class="validationError"
                th:if="${#fields.hasErrors('cardDetails.ccCVV')}"
                th:errors="*{cardDetails.ccCVV}">CC CVV Error</span>
            <br />
            <input type="submit" value="Submit Order" />
        </form>
    </div>
</body>

</html>
